@charset "UTF-8";

body{
    margin: 0;
}

/* ヘッダー */
.header{
    background-color: #323232; /* 背景色 */
    color: #FAFAFA; /* 文字色 */
    overflow: hidden; /* floatによるレイアウト崩れを防ぐ */
}

.header-title{
    margin: 20px 0 20px 20px; /* 余白 上:11 右:0 下:11 左:20 */
    float: left; /* 左寄せ */
    font-size: 32px;
    font-weight: bold;
}

.header-nav{
    list-style: none; /* 黒丸を消す */
    float: right; /* 右寄せ */
}

.header-nav-item{
    float: left; /* 左から横並び */
    margin: 10px 20px; /* 余白 上下:10 左右:20 */
}
/* ヘッダー終わり */


/* トップ */
.top{
    text-align: center; /* 文字の中央揃え */
    background-image: url("../img/hero-image.jpg"); /* 背景画像 */
    background-size: cover; /* 背景画像の大きさ */
    background-position: center; /* 背景画像の表示位置 */
    color: #FAFAFA;
    padding: 200px 0; /* 内側の余白 上下:200 左右:0 */
}

.top-title{
    font-size: 60px; /* 文字の大きさ */
}

.top-text{
    font-size: 40px;
}

@media screen and (max-width: 768px){
    .top-title{
        font-size: 48px;
    }
    .top-text{
        font-size: 32px;
    }
}

@media screen and (max-width: 554px){
    .top-title{
        font-size: 36px;
    }
    .top-text{
        font-size: 24px;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
    }
}
/* トップ終わり */


/* コンテンツ */
.contents{
    text-align: center;
    padding: 30px 0;
    background-color: #FAFAFA;
}

.contents-title{
    font-size: 40px;
}

.contents-item{
    display: inline-block; /* 横並びにする */
    margin: 80px 40px 100px; /* 上:80px 左右:40px　下:100px */
}

.contents-item-icon{
    width: 80px;
}

.contents-item-title {
    font-size: 24px;
}

.contents-item-text{
    font-size: 20px;
}
@media screen and (max-width: 554px){
    .contents-title{
        font-size: 32px;
    }
    .contents-item:not(:last-of-type){
        margin-bottom: 0;
    }
    .contents-item-text{
        font-size: 16px;
    }
}
/* コンテンツ終わり */


/* お問い合わせ */
.contact{
    background-color: #40474e;
    color: #FAFAFA;
    padding: 30px 0;
}

.contact-title{
    font-size: 40px;
    text-align: center;
}

/* お問い合わせフォーム */
.contact-form{
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
}

.contact-form-label{
    display: block; /* 縦並びにする */
    margin-bottom: 6px;
}

.contact-form-item{
    display: block; /* 縦並びにする */
    font-size: 14px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    border: solid 2px #FAFAFA;
}

.contact-form-item--input{
    width: 100%;
    padding: 6px;
}

.contact-form-item--textarea{
    width: 100%;
    height: 80px;
    padding: 6px;
}

.contact-form-item--submit{
    margin: 40px auto;
    padding: 10px 40px;
    background: #FAFAFA;
}

/* お問い合わせフォーム終わり */
/* フッター終わり */